body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
bdi {
  display: block;
}

/* Header Section */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
  margin-top: -4rem;
}

.offer {
  font-weight: 400;
  font-size: 34px;
}
.number-offer {
  font-weight: bold;
  display: inline;
}
.move-text {
  font-weight: 800;
  color: #37beff;
  font-size: 40px;
}
.back-div {
  position: relative;
  overflow-x: hidden;
}
.back-div::before {
  content: "";
  position: absolute;
  width: 200%;
  background: linear-gradient(to bottom, #fff, rgba(223, 218, 248, 0.3));
  height: 40%;
  top: 10px;
  left: -100px;
  z-index: -1;
  transform: rotate(-10deg);
}
.video-section {
  text-align: center;
  width: 60%;
}
.video {
  text-align: center;
  margin-top: 6rem;
}
.video video {
  width: 56%;
  height: 413px;
  object-fit: cover;
  border: 20px solid #6c96f2;
  border-radius: 20px;
}
.arrow {
  display: block;
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: bold;
}
.info-section {
  margin-top: 6rem;
  padding: 1rem 4rem;
}

.info-section h1 {
  color: white;
  text-align: center;
}
.info-section h1 span bdi {
  font-size: 20px;
  line-height: 40px;
}
.info-section h1 span bdi {
  font-weight: 500;
  font-size: 30px;
  opacity: 0.7;
}
.info-cont-bg {
  background: #050038;
  text-align: center;
  border-radius: 30px;
  padding: 3rem 3rem;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 4rem;
}
.info-container > div:nth-child(1) {
  background-color: #b473fe;
  border-radius: 20px;
}
.info-container > div:nth-child(2) {
  background-color: #7673fe;
  border-radius: 20px;
}
.info-container > div:nth-child(3) {
  background-color: #6c96f2;
  border-radius: 20px;
}
.info-container > div:nth-child(4) {
  background-color: #ff7449;
  border-radius: 20px;
}
.info-container > div:nth-child(5) {
  background-color: #58d258;
  border-radius: 20px;
}
.info-container > div:nth-child(6) {
  background-color: #6c96f2;
  border-radius: 20px;
}
.info-container > div:nth-child(7) {
  background-color: #37beff;
  border-radius: 20px;
}
.info > div {
  margin: auto;
  width: 51%;
  height: 391px;
  text-align: center;
  padding: 0 1rem;
  /* animation: move-up 2s infinite; */
  cursor: pointer;
}

.info .video-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  align-items: center;
}
.info .video-info img {
  width: 232px;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.info .video-info video {
  width: 232px;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.info p,
.info bdi {
  color: #fff;
  font-size: 20px;
}
.contact {
  display: inline-block;
  text-decoration: none;
  margin-top: 2rem;
  padding: 1rem 2rem;
  color: white;
  border-radius: 50px;
  background-color: #1fb6ff;
  transition: all 0.2s linear;
  box-shadow: 0 0 25px #1fb6ff;
}
.contact:hover {
  background-color: #6c96f2;
  box-shadow: 0 0 25px #6c96f2;
}

/* Header Section */
@media screen and (max-width: 1200px) {
  .video {
    margin-top: -1rem;
  }
  .video video {
    height: 313px;
  }
}
@media screen and (max-width: 992px) {
  .header-content {
    flex-direction: column;
    margin-top: 2rem;
  }
  .offer {
    font-size: 30px;
  }
  .offers-section {
    margin-top: -4rem;
  }
  .info p,
  .info bdi {
    font-size: 14px;
  }
  .info > div {
    height: 327px;
  }
  .info-section {
    padding: 1rem 1rem;
  }
  .video-section {
    width: 100%;
  }
}

/* ANIMATION */
@keyframes move-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
